body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgb(250, 248, 249),rgba(0, 0, 50, 0.5)), url(coaching.jpg);
    background-size: cover
    background-position: center;
    font-family: sans-serif;
}

.contact-title
{
    margin-top: 100px;
    color: rgb(14, 5, 5);
    text-transform: uppercase;
    transition: none; 
}

.contact-title h1{
    font-size: 32px;
    line-height: 10px;
}
.contact-title h2
{
    font-size: 16px;
}

form
{
    margin: 50px;
    transition: none;

}

.form-control
{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

input
{
    height: 45px;
}

form .submit
{
    background: #dd1212;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover
{
    background-color: #161111;
    cursor: pointer;
}